<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="login.css"> </head>

<body>
    <div class="login"> <img src="" class="login_picture" alt="login">
        <div class="login_block">
            <form class="login_block_form">
                <h2>Log in</h2>
                <p><small>If you don't have an account yet, please <a href="register_page.html"><u>register</u></a> first.</small> </p>
                <br>
                <div class="login_block_form__item">
                    <input type="email" class="login_block_form__item-control" placeholder="Enter email"> </div>
                <div class="login_block_form__item">
                    <input type="password" class="login_block_form__item-control" placeholder="Password">
                    <p><small><a><u>I forgot my password</u></a></small></p>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Remember me</label>
                </div>
                <br>
                <br>
                <button class="login_block_form__button">Log in</button>
            </form>
        </div>
    </div>
</body>

</html>